<!DOCTYPE html>
<html>
<head>
    <% baseUrl = environment === 'development' ? '' : '/suitcase' %>
    <link rel="stylesheet" href="<%- baseUrl %>/docs.css">
    <link id="main" rel="stylesheet" href="<%- baseUrl %>/<%- flavors.default %>.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="<%- baseUrl %>/docs.js"></script>
    <script src="<%- baseUrl %>/suitcase.js"></script>

    <title>INAP's styleguide - suitcase</title>
</head>
<body>
    <a href="https://github.com/internap/suitcase"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <nav class="sc-nav">
        <%- partial("_nav") %>
    </nav>
    <section class="sc-content">
        <% subSnippets = yield.match(/\{\{(.|\n)+?((?=\{\{)|$)/g) %>
        <% if (subSnippets) { %>
            <% for (var subSnippetIndex in subSnippets) { %>
                <%
                    subSnippet = subSnippets[subSnippetIndex];
                    code = subSnippet.replace(/\{\{.+\}\}/, '').trim();
                    title = subSnippet.match(/\{\{(.+)\}\}/)[1].trim();
                %>
                <h2><%- title %></h2>
                <%- code %>
                <pre class="sc-code"><code class="html"><%= code %></code></pre>
                <hr>
            <% } %>
        <% } else { %>
            <%- yield %>
            <pre><code class="html"><%= yield %></code></pre>
        <% } %>
    </section>
    <footer class="sc-footer">
        <%- partial("_footer") %>
    </footer>
</body>
</html>
