<ul>
    <% baseUrl = environment === 'development' ? '' : '/suitcase' %>

    <% for (var sectionIndex in public.snippets._data["sections"]) { %>
        <% section = public.snippets._data["sections"][sectionIndex] %>
        <li>
            <ul>
                <li><strong><%= section %></strong></li>
                <% for (var snippetIndex in public.snippets[section]._contents) { %>
                    <% snippet = public.snippets[section]._contents[snippetIndex].replace('.html', '') %>
                    <li>
                        <a href="<%- baseUrl %>/snippets/<%= section %>/<%= snippet %>"><%= snippet %></a>
                    </li>
                <% } %>
            </ul>
        </li>
    <% } %>
</ul>