<% baseUrl = environment === 'development' ? '' : '/suitcase' %>
<ul>
    <li><strong>Flavors</strong></li>
    <li>
        <% for (var flavorIndex in flavors.list) { %>
            <% flavor =  flavors.list[flavorIndex] %>
            <button data-flavor="<%= flavor %>" class="btn btn-primary btn-block btn-sm <%= (flavors.default === flavor ? 'active' : '') %>">
                <%= flavor %>
            </button>
        <% } %>
    </li>
    <% for (var sectionIndex in sections) { %>
    <% section = sections[sectionIndex] %>
    <li>
        <ul>
            <li><strong><%= section %></strong></li>
            <% for (var snippetIndex in public.snippets[section]._contents) { %>
            <% snippet = public.snippets[section]._contents[snippetIndex].replace('.html', '') %>
            <li>
                <a href="<%- baseUrl %>/snippets/<%= section %>/<%= snippet %>"><%= snippet %></a>
            </li>
            <% } %>
        </ul>
    </li>
    <% } %>
</ul>